---
layout: default
title: Isabel Lee
---
  <div class="portfolio">
    <h1> Portfolio</h1><p>
      <strong>Demos</strong><br>
      Looking for Fireflies <br>
      This is a short video game I created during the summer of 2016. A video of the demo is below. <br> <br>
      {% include youtubePlayer.html id="QektQKwcd3Y" %}
      <br>
      <a href="https://www.wearvr.com/apps/looking-for-fireflies">Click here </a>to go to where this game is published, on WEARVR.com.
      <br><br>
      Vestal <br>
      Vestal is a business concept I pitched to investors at the 2016 Power Pitch Competition at <br>
      the Illinois Mathematics and Science Academy. The idea was a virtual-reality based social <br>
      network where you could interact with others using just a Google Cardboard Viewer and a smartphone.
      <br> <br>
      In addition to a full-length investor pitch, I also had the opportunity to pitch my idea in a matter <br>
      of seconds to many people. An aid I used was a quick demo on a Galazy S5 that showed the <br>
      capabilities of what Virtual Reality and Vestal could do. A video of the demo is below. <br><br>
      {% include youtubePlayer.html id="yNgxeAVBR-8" %}
      <br>
      <br>
      
      <strong> Art </strong><br>
      (slightly out of date) art Portfolio can be found <a href="https://isabeldraws.tumblr.com">here!</a>
      <br><br>
      
      
      </p>

      
  </div>

