---
layout: default
title: Isabel Lee
---
  <div class="portfolio">
    <h1> Portfolio</h1><p>
      <strong>Demos</strong><br>
      Vestal <br>
      Vestal is a buisness concept I pitched to investors at the 2016 Power Pitch Competition at the Illinois <br>
      Mathematics and Science Academy. The idea was a virtual-reality based social network where you could <br>
      interact with others using just a Google Cardboard Viewer and a smartphone.
      <br> <br>
      In addition to a full-length investor pitch, I also had the opportunity to pitch my idea in a matter <br>
      of seconds to many people. An aid I used was a quick demo on a Galazy S5 that showed the capabilities of what<br>
      Virtual Reality and Vestal could do. A video of the demo is below. <br>
      {% include youtubePlayer.html id="yNgxeAVBR-8" %}
      <br>
      <br>
      ANIRA <br>
      A long time ago, when I was in middle school, I started to work on an interactive <br>
      visual game called ANIRA. The basic premise is that Everett, an older man, suddenly finds his wife<br>
      missing, and must search for her with the help of the girl he's babysitting. Along the way, he ends up<br>
      <br>discovering some dark secrets about both himself and his wife that never imagined.<br>
      Programming ANIRA was one of my first introducions to computer science and programming, while I was <br>
      also able to draw my own assets. As of now, it's never quite been completed and I've moved <br>
      on to other things. But if you're curious, I've compiled a short demo reel of what I<br>
      had accomplished so far!<br>
      {% include youtubePlayer.html id="GUCNGzGy-Hc" %}
      <br><br>
      <strong>Writings</strong><br>
      Check out my story <a href="https://docs.google.com/document/d/1lF6kPiIVCJ7BK-PJAxP-h79M74yJyAQh9oYM5O83R50/export?format=pdf" class="download" title="Kai Akana">The (3D Printed) Tail of Kai Akana</a>, which won 3rd Place for<br>
      the Sapiens Plurum Ocean Trash Write Away Short Fiction Contest! <br><br><br>
      
      <strong> Art </strong><br>
      I've loved to draw my whole life. <br>
      If you would like to see what I've done, check out my art blog <a href="https://isabeldraws.tumblr.com">here!</a>
      <br><br>
      
      
      </p>

      
  </div>

