<!DOCTYPE html>
	<html>
		
		<head>
			<link rel="shortcut icon" href="favricon.png" type="image/x-icon">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<img  class="img-circle avatar" alt="Isabel Lee" src="name.PNG">
			
			<hr>
		</head>
		<body>
			<body background="clouds.jpg">
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/resume">Resume</a></li>
	        		<li><a href="/portfolio">Portfolio</a></li>
	    		</ul>
	    		<hr>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>©Copyright Isabel Lee 2016</li>
				</ul>
			</footer>
		</body>
	</html>
